<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <title>K-Board - {% block title %}{% endblock %}</title>
</head>
<body>

<header class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="collapsed navbar-toggle" data-target="#nav_item" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">K-Board</a></div>
        <nav class="collapse navbar-collapse" id="nav_item">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'board:post_list' 'default'%}">Default</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <div class="row">
        {% block body%}
        {% endblock %}
    </div>
</div>

</body>
</html>
