{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootswatch-dist/js/bootstrap.js' %}"></script>
    {% javascript 'main' %}

    <link rel="stylesheet" href="{% static 'bootswatch-dist/css/bootstrap.css' %}"/>
    {% stylesheet 'main' %}
</head>
<body>
    {% block body%}
    {% endblock %}
</body>
</html>