<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body style="padding:0;">
{% if comments %}
<div class="panel">
    <div class="panel-body">
        {% for comment in comments %}
            <div class="media comment">
                <div class="media-body">
                    <div class="comment-info">
                        <form method="POST" class="delete-comment-form" action="{% url 'board:delete_comment' post.id comment.id %}">
                            {% csrf_token %}
                        </form>
                        <small class="text-muted comment-date">{{ comment.created_time|date:"Y-m-d H:i:s" }}</small>
                        <small class="delete-comment">삭제</small>
                    </div>
                    {% if comment.account %}
                        <span class="text-primary">{{ comment.account.user.username }}</span>
                    {% else %}
                        <span class="text-primary">익명</span>
                    {% endif %}
                    <p class="comment-content">
                        {{ comment.content }}
                    </p>
                </div>
            </div>
        {% endfor %}
        <div style="margin-top: 10px;">
            {% include 'pagination.html' with pages_nav_info=pages_nav_info query="" %}
        </div>
    </div>
</div>
{% else %}
<p class="no-comment">
    <strong>댓글이 없습니다.</strong>
</p>
{% endif %}

{% if user.is_authenticated %}
<div class="row">
    <form method="POST" action="{% url 'board:new_comment' post.id %}">
        {% csrf_token %}
        <div class="col-sm-9">
            <input type="text" id="id_new_comment" name="comment_content" class="form-control"
                   placeholder="Write comment..."/>
        </div>
        <div class="col-sm-3">
            <button type="submit" id="id_new_comment_submit" class="form-control btn btn-primary">댓글 달기</button>
        </div>
    </form>
</div>
{% else %}
<p class="no-comment">
    <strong>댓글을 달기 위해 로그인하세요.</strong>
</p>
{% endif %}
</body>
