{% extends 'base.html' %}

{% block title %}Post History List{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12" class="history-container">
        <h2>수정 내역</h2>
        {% for history in history_list %}
            <hr/>
            <div class="panel panel-default post-panel post-history">
                <div class="panel-heading">
                    <span class="panel-title">{{ history.title }}</span>
                    <div class="post-info">
                        <strong class="text-primary">~ {{ history.created_time|date:"Y-m-d H:i:s" }}</strong>
                    </div>
                </div>
                <div class="panel-body">
                    {{ history.content|safe }}
                </div>
                {% if uploaded_file %}
                <div class="panel-footer">
                    <a id="id_uploaded_file" href="{{ uploaded_file.url }}" download>{{ uploaded_file.name }}</a>
                </div>
            {% endif %}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-2">
                <button id="back_to_view_post_button" class="form-control btn btn-default redirection-button"
                        path="{% url 'board:view_post' post_id %}">글 보기</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}