{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="panel panel-primary block-center" style="width:400px;">
    <div class="panel-heading">
        <h5 class="panel-title">로그인</h5>
    </div>
    <div class="panel-body">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>

        <p><a href="{% url 'auth_password_reset' %}">비밀번호 재설정하기</a></p>
        <p><a href="{% url 'registration_register' %}">가입하기</a></p>
    </div>
</div>
{% endblock %}
