{% extends 'base.html' %}
{% load i18n %}

{% block title %}회원가입{% endblock %}

{% block body %}
<div class="panel panel-primary block-center" style="width:800px;">
    <div class="panel-heading">
        <h5 class="panel-title">회원가입</h5>
    </div>
    <div class="panel-body">
        <form method="post" class="registration-form" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">가입하기</button>
        </form>
    </div>
</div>
{% endblock %}
