{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">계정 정보</div>
            </div>
            <div class="panel-body">
                <p>Username: {{user.username}}</p>
                <p>Email: {{user.email}}</p>
                <p>이름: {{user.fullname}}</p>
                <p>Admin: {{user.is_admin}}</p>
                <p><a href="{% url 'auth_password_change' %}">비밀번호 변경</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
