@import 'app/variables.scss';

@import 'app/panels';
@import 'app/paginations.scss';
@import 'app/buttons.scss';

body {
  div.row {
    table.table {
      th.table-title {
        width: 70%;
      }
      td {
        &.remove-item {
          width: 15px;
          cursor: pointer;
        }
      }
    }
    select.search-flag {
      width: 100px;
    }
    button.like-button {
      width: 80px;
    }
  }
}
