body {
  div.row {
    table.table {
      td {
        &.remove-item {
          width: 15px;
          cursor: pointer;
        }
      }
    }
    select.search-flag {
      width: 100px;
    }
  }
}
